# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [1]:
SELECT user_id,rating
    FROM BooksDB.dbo.ratings OUTER
    WHERE rating >
        (SELECT b.average_rating
        FROM BooksDB.dbo.books AS b
        WHERE b.average_rating < rating );

: Msg 156, Level 15, State 1, Line 3
Incorrect syntax near the keyword 'WHERE'.

: Msg 156, Level 15, State 1, Line 6
Incorrect syntax near the keyword 'outer'.

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [2]:
SELECT TOP 10 COUNT(b.title) AS NumToRead, tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY tr.user_id
ORDER BY NumToRead DESC;

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [3]:
SELECT TOP 10 COUNT(b.title) AS NumToRead, tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY tr.user_id
ORDER BY NumToRead DESC;

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [4]:
SELECT TOP 10 COUNT(b.title) AS NumToRead, tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY tr.user_id
ORDER BY NumToRead DESC;

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [5]:
SELECT TOP 10 COUNT(b.title) AS NumToRead, tr.user_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
GROUP BY tr.user_id
ORDER BY NumToRead DESC;